.Head{text-decoration: underline; ; font-style: oblique; color: rgb(234, 108, 25); background-color: antiquewhite;width: 100%; text-align: center;word-spacing: 3px;} 
#kij{background-color: rgb(184, 118, 33); padding: 7px; box-shadow: 4px 4px 4px 4px; word-spacing:7px;}
#one {  background-color: rgba(125, 213, 159, 0.632); width: 10%;text-align: center; box-shadow: 2px 2px 2px 2px;}
.one{background-color: rgba(229, 103, 111, 0.845); padding: 7px; box-shadow: 4px 4px 4px 4px;word-spacing:7px;}
#two{background-color: rgba(125, 213, 159, 0.632); width: 8.5%;text-align: center; box-shadow: 2px 2px 2px 2px; }
.two{background-color: rgba(229, 103, 111, 0.845); padding: 7px; box-shadow: 4px 4px 4px 4px; word-spacing:7px;}
#three{background-color: rgba(125, 213, 159, 0.632); width: 14.6%;text-align: center; box-shadow: 2px 2px 2px 2px;}
.three{background-color: rgba(229, 103, 111, 0.845); padding: 7px; box-shadow: 4px 4px 4px 4px; word-spacing:7px;}
#four{background-color: rgba(125, 213, 159, 0.632); width: 12%;text-align: center; box-shadow: 2px 2px 2px 2px;}
.four{background-color: rgba(229, 103, 111, 0.845); padding: 7px; box-shadow: 4px 4px 4px 4px; word-spacing:7px;}
#five{background-color: rgba(125, 213, 159, 0.632); width: 8%;text-align: center; box-shadow: 2px 2px 2px 2px;}
.five{background-color: rgba(229, 103, 111, 0.845); padding: 7px; box-shadow: 4px 4px 4px 4px; word-spacing:7px;}
#yo{text-align: end; border-radius: 10px; color: whitesmoke;}
#body{background-color: rgb(151, 155, 234); box-shadow: 5px ; background-image: url(pix.jpg
); background-repeat: no-repeat; background-position: center; background-size: cover;}
ul, ol{ display: inline-block;color: white; }
.same{color: whitesmoke;}
